// bower:scss
// endbower
@import 'colors';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: $c-dar;
  font-family: 'Space Mono', monospace;
  color: #333;

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .colored {
    &.dark {
      color: $c-dar;
    }
    &.light {
      color: $c-lig;
    }
    &.yellow {
      color: $c-yel;
    }
    &.red {
      color: $c-red;
    }
    &.purple {
      color: $c-pur;
    }
    &.blue {
      color: $c-blu;
    }
  }
}

#page-header {
  width: 600px;
  overflow: scroll;
  margin: 30px auto;
  text-align: center;
  #page-header-title {
    margin: auto;
  }
}

.content {
  margin: 10px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: $c-lig;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
