// bower:scss
// endbower
@import 'colors';

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

body {
  background: $c-dar;
  font-family: 'Space Mono', monospace;
  color: #333;

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .no-deco {
    text-decoration: none !important;
  }

  .colored {
    &.dark {
      color: $c-dar;
    }
    &.light {
      color: $c-lig;
    }
    &.yellow {
      color: $c-yel;
    }
    &.red {
      color: $c-red;
    }
    &.purple {
      color: $c-pur;
    }
    &.blue {
      color: $c-blu;
    }
  }
}

#page-header {
  width: 600px;
  overflow: scroll;
  margin: 30px auto;
  text-align: center;
  #page-header-title {
    margin: auto;
  }
}

.content {
  margin: 10px auto 0 auto;
  width: 80%;
  max-width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: $c-lig;
  border-radius: 6px;
  padding: 30px 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
  .text {
    text-align: justify;
  }
}
