{% extends "layouts/default.njk" %}

{% block content %}
  <h2>Nope, not yet!</h2>
  <div class="text">
    <p>
      <span class="blink colored yellow">></span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque incidunt ea labore minima, quas reiciendis temporibus reprehenderit blanditiis earum dolores, tenetur dolorum. Deleniti corrupti necessitatibus, aliquid non molestiae ut rerum.
    </p>

    
    <p>
      <span class="blink colored yellow">></span>
      Quas hic minima autem sunt nulla alias consequuntur laboriosam necessitatibus voluptas blanditiis tempora fugiat placeat exercitationem minus tempore, inventore debitis! Unde, fugit!
    </p>
  </div>
{% endblock %}